/* SPDX-FileCopyrightText: 2026 Kaya Yesilyurt
 * SPDX-License-Identifier: Apache-2.0 */

.noise-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
